body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: blue;
  color: white;
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.content {
  background-color: white;
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}
